body{
	text-decoration:none;
	padding:0px;
	margin:0px;
}

@font-face{
	font-family: "Decker";
	src: url(fonts/Decker.ttf) format("truetype");
}

*{ 
	font-family: "Decker"; 
}

.row{
	margin:0px;
	padding:0px;
}

p{
	color: #606161;
	font-size: 110%;
}

#container{
	background-color: #FFFFFF;
}

header a{
	text-align: right;
}

header .row{
	background-color: #EC6A54;
}

header .col-sm-9{
	text-align: right;
	padding-top: 1%;
}

header a{
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none;
	border-radius: 10%;
}

header a:hover{
	background-color: #ffffff;
	color: #222527;
	padding: 2%;
	text-decoration: none;
}

header img{
	width: 100%;
}

header #botonera{
	position: fixed;
	z-index: 1000;
	position: static;
}

#section5{
	background-color: #222527;
	color: #FFFFFF;
	padding: 2% 0% 2% 0%;
}

#section5 h2{
	text-align: left;
}

#section5 img{
	width: 100%;
}

#section5 p{
	color: #9A9A9A;
	text-align: justify;
}

#section5 a{
	margin-left: 30%;
	color: #9A9A9A;
	border: 2px solid #9A9A9A;
	text-decoration: none;
	border-radius: 3px;
	font-size: 130%;
	padding: 2%;
	
}

#section5 a:hover{
	margin-left: 30%;
	color: #6ac180;
	border: 2px solid #6ac180;
	text-decoration: none;
	border-radius: 3px;
	font-size: 130%;
	padding: 2%;

}

#title1, #servicios, #parrafo{
	background-color: #FFFFFF;
}

#servicios{
	padding-top: 30px;
	padding-bottom: 30px;
}
 
#servicios img{
	width: 130%;
	background-color: #484c55;
	border: 2px solid #484c55;
	border-radius: 100%;
	padding: 2px;
}
#title1 h2{
	font-weight: bold;
	padding-top: 30px;
}

#parrafo{
	padding-bottom: 30px;
}

#parrafo p{
	font-size: 120%;
}

#section1{
	background-color: #3b6251;
	padding: 5% 0% 5% 0%;
	text-align: left;
}

#section2{
	padding: 5% 0% 5% 0%;
	text-align: right;
	background-color: #e4e0e0;
}

#section2 img{
	width: 100%;
}

#section3{
	background-color: #b9090b;
	padding-top: 10px;
}

#section3 img{
	width: 100%;
	background-color: #FFFFFF;
}

#section3 h4, #section1 h4{
	font-weight: bold;
	color: #FFFFFF;
}

#section3 h4{
	padding-top: 60px;
}

#section3 p, #section1 p, #section3 h2, #section1 h2{
	color: #FFFFFF;
}

.footer-social{
	background-color: #222527;
	padding: 1% 0% 1% 0%;
}

.footer-head{
	background-color: #222527;
	padding: 1% 0% 1% 0%;
}

.footer-social .col-sm-2 img{
	width: 25%;
	background-color: #7352ff;
	border: 2px solid #7352ff;
	border-radius: 100%;
}

.footer-social .col-sm-2 a{
	padding-left: 2%;
}

.footer-social .col-sm-3{
	padding-top: 10px;
}

.footer-social .col-sm-2 img:hover{
	background-color: #FFFFFF;
}

.footer-social ul{
	list-style-image: url(image/circle.png);
}

.footer-head ul li{
	border-left: 1px solid #FFFFFF;	
	padding: 0% 4% 0% 4%;
	font-size: 90%;
	color: #FFFFFF;
}

.footer-head ul li a{
	color: #7352ff;
}


.footer-head ul li:first-child{
	border: none;
}

#section4{
	padding: 5% 0% 5% 0;
	text-align: center;
	vertical-align: middle;
}


#section4 .col-sm-4{
	padding: 2% 0% 2% 0%;
}

#section4 img{
	width: 70%;
}

#nosotros #titleNosotros{
	background-color: #ff6500;
	padding: 1% 0% 1% 0%;
}

#nosotros #titleNosotros h4, #Portafolio #titlePortafolio h4{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 250%;
}

#nosotros #titleNosotros p, #section1Nosotros .col-sm-5 h4, #Portafolio #titlePortafolio p{
	color: #FFFFFF;
}

#section1Nosotros .col-sm-5 h4{
	margin-top: 23%;
}

#section1Nosotros{
	background-color: #6F6F6F;
	padding: 2% 0% 2% 0%;
}

#nosotros img{
	width: 100%;
}

#section1Nosotros .col-sm-5 p{
	color: #CDCECD;
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9{
	display: inline-block;
	width: 25%;
	text-align: center;
	padding: 0% 1% 0% 1%;
	border: 3px solid #CCCBCB;
	border-radius: 5px;
	margin-top: 3%;
	vertical-align: middle;
	height: 210px;
	background-color: #f3faf1;
}

#item1:hover, #item2:hover, #item3:hover, #item4:hover, #item5:hover, #item6:hover, #item7:hover, #item8:hover, #item9:hover{
	background-color: #161d2f;
	color: #FFFFFF;
	padding: 0% 1% 0% 1%;
	border: 3px solid #ff6500;
	border-radius: 5px;
}

#item1:hover p, #item2:hover p, #item3:hover p, #item4:hover p, #item5:hover p, #item6:hover p, #item7:hover p, #item8:hover p,#item9:hover p{
	color: #FFFFFF;
}

.section2nosotros, .sectionPortafolio{
	padding: 2% 0% 2% 0%;
}

.section2nosotros h1, .sectionPortafolio h1{
	padding-bottom: 25px;
	text-align: center;
	font-weight: bold;
}

.section2nosotros hr, .sectionPortafolio hr{
	color: #CCCBCB;
	width: 50%;
}

.section2nosotros h2{
	font-size: 200%;
}

#mediosNosotros{
	text-align: center;
	padding: 2% 0% 2% 0%;
}

#Portafolio #titlePortafolio{
	background-color: #550000;
	padding: 1% 0% 1% 0%;
}

.sectionPortafolio #pageProduccion{
	display: inline-block;
}

.sectionPortafolio #pageProduccion img{
	width: 25%;
}



